#hero-section {
    height: 100vh;
    width: 100vw;

    display: flex;
    align-items: center;
    justify-content: center;

    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 10%, rgba(0, 0, 0, 0));
    z-index: 100;
}

#hero-main-content {
    width: 50%;
    max-width: 70%;

    margin-bottom: 10%;

    padding: 2%;

    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;

    color: white;
    z-index: 100;
}

#hero-main-content h1 {
    font-size: 4rem;
    margin: 3% 0;
}

#hero-main-content span {
    display: flex;
    align-items: center;

    padding: 0 5px;

    text-transform: lowercase;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

    cursor: pointer;
}

#hero-main-content>span>img {
    height: 20px;
    margin: 10px;

    animation: scrollDownArrowAnim .5s alternate infinite;
}

@keyframes scrollDownArrowAnim {
    from {
        transform: translateY(0);
    }

    to {
        transform: translateY(3px);
    }
}