#nav-indicator {
    position: fixed;
    height: 35vh;
    width: 7vw;
    min-width: fit-content;

    right: 2vw;
    top: 50%;
    transform: translateY(-50%);

    display: flex;
    align-items: stretch;
    justify-content: stretch;

    color: white;
    backdrop-filter: blur(4px);
    padding: 5px;

    user-select: none;
}

#nav-indi-list-container {
    width: 50%;
}

#nav-indi-list-container ul {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100%;

    width: fit-content;

    margin-right: 3vw;

    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#nav-indi-list-container ul li{
    cursor: pointer;
}

#nav-indi-bar-container {
    width: 50%;

    display: flex;
    justify-content: center;
}

#nav-indi-bar {
    height: 95%;
    width: calc(.1vw + 1px);
    background: gray;
    border-radius: 50px;
    position: relative;
}

#nav-indi-bar-fill {
    height: 20%;
    width: 110%;
    background: white;
    position: absolute;
    border-radius: 50px;

    top: 0;
    left: 50%;
    transform: translate(-50%,0);

    transition: all .5s ease-out;
}