#footer {
    height: 15%;
    min-height: 20vh;
    width: 100vw;
    background: var(--baseColor);

    bottom: 0;

    display: flex;
    justify-content: stretch;
    align-items: stretch;
    flex-wrap: wrap;
}

.footer-part {
    flex-grow: 1;

    min-width: 200px;

    padding: 2%;

    box-sizing: border-box;
    color: white;
}

.footer-part:not(.footer-part:nth-child(1)) {
    display: flex;
    align-items: baseline;
}

.footer-part:nth-child(1) {
    flex: 2;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer-part:nth-child(1) h1 {
    margin-bottom: 2%;
}

.footer-part:nth-child(1) p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: .8rem;
    width: 60%;
}

.footer-part:nth-child(1) .upper {
    width: 100%;
}

.footer-part:nth-child(1) .lower {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: .8rem;
    color: gray;
}

.footer-more {
    height: fit-content;

    display: flex;
    flex-direction: column;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.footer-more h4 {
    color: var(--color1);
    margin-bottom: 5%;
}
.footer-more h5{
    margin: 5% 0;
    font-weight: 100;
}
