.content-block {
    height: 100%;
    width: 80%;

    margin-bottom: 3px;

    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: center;


    box-sizing: border-box;
    color: white;

}

.content-block.flipped {
    flex-direction: row-reverse;
}

.content-block .block-content {
    width: 50%;
    min-width: 200px;
    max-width: 50%;

    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
}

@media (max-width: 600px) {
    .content-block .block-content {
        min-width: 80vw;
        max-height: 50vh;
    }
}

.content-block .block-content:nth-child(1) {
    width: 70%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    position: relative;
}

.content-block .block-content:nth-child(2) {

    display: flex;
    justify-content: center;
    align-items: center;
}

.content-block .block-content:nth-child(2) img {
    width: 70%;
    min-width: 200px;
}

.content-block .block-content .block-inner-content {
    width: 80%;
    z-index: 1;
}

.content-block .block-title-container {
    font-size: 2rem;
    color: white;

    overflow: hidden;
}

.content-block .block-title-container h1 {
    transform: translateY(100%);
    animation: blockTitleAnim .5s forwards ease-out;
    animation-delay: 5s;
    opacity: 0;
}

@keyframes blockTitleAnim {
    from {
        transform: translateY(100%);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.content-block .lined-text-container {
    padding: 20px;
}

.content-block .block-details-container {
    margin: 5% 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.block-number {
    position: absolute;
    font-size: 10rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #23333B;
    top: 0;
    left: 0;

    z-index: 0;
}

.block-readmore-container {
    height: 5%;
    user-select: none;
}

.block-readmore-container * {
    cursor: pointer;
}

.block-readmore-container *:active {
    transform: translateY(5px);
    color: white;
}

.block-readmore-container *:hover img {
    animation: readmoreArrowAnim .5s alternate infinite;
}

@keyframes readmoreArrowAnim {
    from {
        transform: rotate(-30deg) translateY(0);
    }

    to {
        transform: rotate(-30deg) translateY(5px);
    }
}

.block-readmore-container>span {
    color: var(--color1);
    font-size: .8rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.block-readmore-container img {
    max-height: 50%;
    transform: rotate(-30deg);
}